.table_container {
  padding: 20px;
  width: 100%;
  height: 100%;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.img_container {
  width: 80%;
  height: 80%;
  margin: 5px;
}

.action_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.action {
  margin: 5px;
  cursor: pointer;
}
